/* COMMON */

@font-face{
	font-family: 'MyWebFont';
	src: url('http://dev.bowdenweb.com/a/fonts/segoe/ui/light/segeo-ui-light-webfont.eot');
	src: url('http://dev.bowdenweb.com/a/fonts/segoe/ui/light/segeo-ui-light-webfont.eot#iefix') format('embedded-opentype'),
	     url('http://dev.bowdenweb.com/a/fonts/segoe/ui/light/segeo-ui-light-webfont.woff') format('woff'),
	     url('http://dev.bowdenweb.com/a/fonts/segoe/ui/light/segeo-ui-light-webfont.ttf') format('truetype'),
	     url('http://dev.bowdenweb.com/a/fonts/segoe/ui/light/segeo-ui-light-webfont.svg#webfont') format('svg');
}

.width {
  max-width: 1920px;
  width: 100%;
}

a:link {
  color: rgba(241, 242, 242);
}
a:visited {
  color: rgba(241, 242, 242);
}

/* HEADER*/

section {
  height: 799px;
}

/* NAVBAR */

.bg-dark-grey {
  background-color: rgba(53, 63, 70, 0.85)
}

.color-light-blue {
  color: rgba(75, 202, 255)
}

.padding-navbar {
  height: 148px;
}

.margin-right-left {
  margin-left: 510px;
  margin-right: 370px;
}

.nav-link:hover {
  color: rgba(75, 202, 255)!important;
  border: 1px solid rgba(75, 202, 255);
}

/* BANNER */
.banner {
  background: url('images/banner/banner.png');
  background-size: cover;
}
